*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost",sans-serif;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.main-nav{
    width:100%;
    height:10rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr;
    box-shadow: rgba(50,50,93,0.25)0px 50px 100px,
    rgba(0,0,0,0.3)0px 30px 60px -30px ;
}
.L-img{
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.title{
    display: grid;
    color: rgb(45, 161, 161);
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
}
.menu-link{
    grid-column: 3/4;
}
.menu-link ul{
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbutton{
font-size: 20px;
}
.social-media{
    grid-column: 4/5;
}
.social-media ul{
    height: 10rem;
    display: grid;
    grid-template-columns: 3fr repeat(3,1fr);
    align-items: center;
}
.social-media ul li:first-child{
    grid-column: 2/3;
}
.new-section{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.new-section h1{
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}
/* social media icon style */
a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.social:hover {
    transform: translateY(-2px);
  }
  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  a.instagram {
    color: rgb(253, 4, 120);
  }